#sib{
    border-radius: 30px;
   background-color: black;
   color:aqua;
   align-items: center;
   width:250px;
   padding-top: 50px;
   box-shadow: 0px 0px 8px 8px white;

}
#si{
    width:100px;
    height:100px;
    border-radius: 100px;
}
h4{
    display: inline;
}
#class{
    border-radius: 30px;
    display:flex;
    background-color:gray;
    width:800px;
    height:auto;
    margin:100px;
    margin-left: 200px;
    padding:50px;
    padding-left:50px;
    box-shadow: 0px 0px 8px 8px black;

}
#first{
    border-radius: 30px;
    width:500px;
    margin-left:50px;
    background-color: black;
    color:aqua;
    box-shadow: 0px 0px 8px 8px white;
}
#style{
    font-style:italic;
    color:purple;
}